[submodule "RiscOS/Apps/PlingBuilder"]
	path = RiscOS/Apps/!Builder
	url = ../../RiscOS/Apps/PlingBuilder.git
[submodule "RiscOS/Apps/PlingEraseCVS"]
	path = RiscOS/Apps/!EraseCVS
	url = ../../RiscOS/Apps/PlingEraseCVS.git
[submodule "RiscOS/Apps/PlingWinEdit"]
	path = RiscOS/Apps/!WinEdit
	url = ../../RiscOS/Apps/PlingWinEdit.git
[submodule "RiscOS/Apps/AppsMakefile"]
	path = RiscOS/Apps/AppsMakefile
	url = ../../RiscOS/Apps/AppsMakefile.git
[submodule "RiscOS/BuildSys"]
	path = RiscOS/BuildSys
	url = ../../RiscOS/BuildSys.git
[submodule "RiscOS/Env"]
	path = RiscOS/Env
	url = ../../RiscOS/Env.git
[submodule "RiscOS/Export"]
	path = RiscOS/Export
	url = ../../RiscOS/Export.git
[submodule "RiscOS/Sources/Apps/Alarm"]
	path = RiscOS/Sources/Apps/Alarm
	url = ../../RiscOS/Sources/Apps/Alarm.git
[submodule "RiscOS/Sources/Apps/Chars"]
	path = RiscOS/Sources/Apps/Chars
	url = ../../RiscOS/Sources/Apps/Chars.git
[submodule "RiscOS/Sources/Apps/Draw"]
	path = RiscOS/Sources/Apps/Draw
	url = ../../RiscOS/Sources/Apps/Draw.git
[submodule "RiscOS/Sources/Apps/EditApp"]
	path = RiscOS/Sources/Apps/EditApp
	url = ../../RiscOS/Sources/Apps/EditApp.git
[submodule "RiscOS/Sources/Apps/Help2"]
	path = RiscOS/Sources/Apps/Help2
	url = ../../RiscOS/Sources/Apps/Help2.git
[submodule "RiscOS/Sources/Apps/Paint"]
	path = RiscOS/Sources/Apps/Paint
	url = ../../RiscOS/Sources/Apps/Paint.git
[submodule "RiscOS/Sources/Desktop/Desktop"]
	path = RiscOS/Sources/Desktop/Desktop
	url = ../../RiscOS/Sources/Desktop/Desktop.git
[submodule "RiscOS/Sources/Desktop/DragASprit"]
	path = RiscOS/Sources/Desktop/DragASprit
	url = ../../RiscOS/Sources/Desktop/DragASprit.git
[submodule "RiscOS/Sources/Desktop/DragAnObj"]
	path = RiscOS/Sources/Desktop/DragAnObj
	url = ../../RiscOS/Sources/Desktop/DragAnObj.git
[submodule "RiscOS/Sources/Desktop/Filer"]
	path = RiscOS/Sources/Desktop/Filer
	url = ../../RiscOS/Sources/Desktop/Filer.git
[submodule "RiscOS/Sources/Desktop/FilerAct"]
	path = RiscOS/Sources/Desktop/FilerAct
	url = ../../RiscOS/Sources/Desktop/FilerAct.git
[submodule "RiscOS/Sources/Desktop/FilerSWIs"]
	path = RiscOS/Sources/Desktop/FilerSWIs
	url = ../../RiscOS/Sources/Desktop/FilerSWIs.git
[submodule "RiscOS/Sources/Desktop/Filter"]
	path = RiscOS/Sources/Desktop/Filter
	url = ../../RiscOS/Sources/Desktop/Filter.git
[submodule "RiscOS/Sources/Desktop/Free"]
	path = RiscOS/Sources/Desktop/Free
	url = ../../RiscOS/Sources/Desktop/Free.git
[submodule "RiscOS/Sources/Desktop/Pinboard"]
	path = RiscOS/Sources/Desktop/Pinboard
	url = ../../RiscOS/Sources/Desktop/Pinboard.git
[submodule "RiscOS/Sources/Desktop/ShellCLI"]
	path = RiscOS/Sources/Desktop/ShellCLI
	url = ../../RiscOS/Sources/Desktop/ShellCLI.git
[submodule "RiscOS/Sources/Desktop/Switcher"]
	path = RiscOS/Sources/Desktop/Switcher
	url = ../../RiscOS/Sources/Desktop/Switcher.git
[submodule "RiscOS/Sources/Desktop/TaskWindow"]
	path = RiscOS/Sources/Desktop/TaskWindow
	url = ../../RiscOS/Sources/Desktop/TaskWindow.git
[submodule "RiscOS/Sources/Desktop/Wimp"]
	path = RiscOS/Sources/Desktop/Wimp
	url = ../../RiscOS/Sources/Desktop/Wimp.git
[submodule "RiscOS/Sources/Desktop/WimpUtils"]
	path = RiscOS/Sources/Desktop/WimpUtils
	url = ../../RiscOS/Sources/Desktop/WimpUtils.git
[submodule "RiscOS/Sources/FileSys/ADFS/ADFS"]
	path = RiscOS/Sources/FileSys/ADFS/ADFS
	url = ../../RiscOS/Sources/FileSys/ADFS/ADFS.git
[submodule "RiscOS/Sources/FileSys/ADFS/ADFSFiler"]
	path = RiscOS/Sources/FileSys/ADFS/ADFSFiler
	url = ../../RiscOS/Sources/FileSys/ADFS/ADFSFiler.git
[submodule "RiscOS/Sources/FileSys/CDFS/CDFS"]
	path = RiscOS/Sources/FileSys/CDFS/CDFS
	url = ../../RiscOS/Sources/FileSys/CDFS/CDFS.git
[submodule "RiscOS/Sources/FileSys/CDFS/CDFSFiler"]
	path = RiscOS/Sources/FileSys/CDFS/CDFSFiler
	url = ../../RiscOS/Sources/FileSys/CDFS/CDFSFiler.git
[submodule "RiscOS/Sources/FileSys/FSLock"]
	path = RiscOS/Sources/FileSys/FSLock
	url = ../../RiscOS/Sources/FileSys/FSLock.git
[submodule "RiscOS/Sources/FileSys/FileCore"]
	path = RiscOS/Sources/FileSys/FileCore
	url = ../../RiscOS/Sources/FileSys/FileCore.git
[submodule "RiscOS/Sources/FileSys/FileSwitch"]
	path = RiscOS/Sources/FileSys/FileSwitch
	url = ../../RiscOS/Sources/FileSys/FileSwitch.git
[submodule "RiscOS/Sources/FileSys/ImageFS/DOSFS"]
	path = RiscOS/Sources/FileSys/ImageFS/DOSFS
	url = ../../RiscOS/Sources/FileSys/ImageFS/DOSFS.git
[submodule "RiscOS/Sources/FileSys/NetFS/NetFS"]
	path = RiscOS/Sources/FileSys/NetFS/NetFS
	url = ../../RiscOS/Sources/FileSys/NetFS/NetFS.git
[submodule "RiscOS/Sources/FileSys/NetFS/NetFiler"]
	path = RiscOS/Sources/FileSys/NetFS/NetFiler
	url = ../../RiscOS/Sources/FileSys/NetFS/NetFiler.git
[submodule "RiscOS/Sources/FileSys/NetPrint"]
	path = RiscOS/Sources/FileSys/NetPrint
	url = ../../RiscOS/Sources/FileSys/NetPrint.git
[submodule "RiscOS/Sources/FileSys/PCCardFS/PCCardFS"]
	path = RiscOS/Sources/FileSys/PCCardFS/PCCardFS
	url = ../../RiscOS/Sources/FileSys/PCCardFS/PCCardFS.git
[submodule "RiscOS/Sources/FileSys/PipeFS"]
	path = RiscOS/Sources/FileSys/PipeFS
	url = ../../RiscOS/Sources/FileSys/PipeFS.git
[submodule "RiscOS/Sources/FileSys/RAMFS/RAMFS"]
	path = RiscOS/Sources/FileSys/RAMFS/RAMFS
	url = ../../RiscOS/Sources/FileSys/RAMFS/RAMFS.git
[submodule "RiscOS/Sources/FileSys/RAMFS/RAMFSFiler"]
	path = RiscOS/Sources/FileSys/RAMFS/RAMFSFiler
	url = ../../RiscOS/Sources/FileSys/RAMFS/RAMFSFiler.git
[submodule "RiscOS/Sources/FileSys/ResourceFS/ResFiler"]
	path = RiscOS/Sources/FileSys/ResourceFS/ResFiler
	url = ../../RiscOS/Sources/FileSys/ResourceFS/ResFiler.git
[submodule "RiscOS/Sources/FileSys/ResourceFS/ResourceFS"]
	path = RiscOS/Sources/FileSys/ResourceFS/ResourceFS
	url = ../../RiscOS/Sources/FileSys/ResourceFS/ResourceFS.git
[submodule "RiscOS/Sources/FileSys/SCSIFS/SCSIFS"]
	path = RiscOS/Sources/FileSys/SCSIFS/SCSIFS
	url = ../../RiscOS/Sources/FileSys/SCSIFS/SCSIFS.git
[submodule "RiscOS/Sources/HAL/HAL_IOMD"]
	path = RiscOS/Sources/HAL/HAL_IOMD
	url = ../../RiscOS/Sources/HAL/HAL_IOMD.git
[submodule "RiscOS/Sources/HWSupport/Buffers"]
	path = RiscOS/Sources/HWSupport/Buffers
	url = ../../RiscOS/Sources/HWSupport/Buffers.git
[submodule "RiscOS/Sources/HWSupport/CD/ATAPI"]
	path = RiscOS/Sources/HWSupport/CD/ATAPI
	url = ../../RiscOS/Sources/HWSupport/CD/ATAPI.git
[submodule "RiscOS/Sources/HWSupport/CD/CDFSDriver"]
	path = RiscOS/Sources/HWSupport/CD/CDFSDriver
	url = ../../RiscOS/Sources/HWSupport/CD/CDFSDriver.git
[submodule "RiscOS/Sources/HWSupport/DMA"]
	path = RiscOS/Sources/HWSupport/DMA
	url = ../../RiscOS/Sources/HWSupport/DMA.git
[submodule "RiscOS/Sources/HWSupport/DeviceFS"]
	path = RiscOS/Sources/HWSupport/DeviceFS
	url = ../../RiscOS/Sources/HWSupport/DeviceFS.git
[submodule "RiscOS/Sources/HWSupport/IIC"]
	path = RiscOS/Sources/HWSupport/IIC
	url = ../../RiscOS/Sources/HWSupport/IIC.git
	branch = HAL
[submodule "RiscOS/Sources/HWSupport/Joystick"]
	path = RiscOS/Sources/HWSupport/Joystick
	url = ../../RiscOS/Sources/HWSupport/Joystick.git
[submodule "RiscOS/Sources/HWSupport/Mouse"]
	path = RiscOS/Sources/HWSupport/Mouse
	url = ../../RiscOS/Sources/HWSupport/Mouse.git
[submodule "RiscOS/Sources/HWSupport/NVRAM"]
	path = RiscOS/Sources/HWSupport/NVRAM
	url = ../../RiscOS/Sources/HWSupport/NVRAM.git
[submodule "RiscOS/Sources/HWSupport/PCI"]
	path = RiscOS/Sources/HWSupport/PCI
	url = ../../RiscOS/Sources/HWSupport/PCI.git
[submodule "RiscOS/Sources/HWSupport/PS2Driver"]
	path = RiscOS/Sources/HWSupport/PS2Driver
	url = ../../RiscOS/Sources/HWSupport/PS2Driver.git
[submodule "RiscOS/Sources/HWSupport/Parallel"]
	path = RiscOS/Sources/HWSupport/Parallel
	url = ../../RiscOS/Sources/HWSupport/Parallel.git
[submodule "RiscOS/Sources/HWSupport/Podule"]
	path = RiscOS/Sources/HWSupport/Podule
	url = ../../RiscOS/Sources/HWSupport/Podule.git
[submodule "RiscOS/Sources/HWSupport/PortMan"]
	path = RiscOS/Sources/HWSupport/PortMan
	url = ../../RiscOS/Sources/HWSupport/PortMan.git
[submodule "RiscOS/Sources/HWSupport/Portable"]
	path = RiscOS/Sources/HWSupport/Portable
	url = ../../RiscOS/Sources/HWSupport/Portable.git
[submodule "RiscOS/Sources/HWSupport/SCSI/SCSIDriver"]
	path = RiscOS/Sources/HWSupport/SCSI/SCSIDriver
	url = ../../RiscOS/Sources/HWSupport/SCSI/SCSIDriver.git
[submodule "RiscOS/Sources/HWSupport/SerMouse"]
	path = RiscOS/Sources/HWSupport/SerMouse
	url = ../../RiscOS/Sources/HWSupport/SerMouse.git
[submodule "RiscOS/Sources/HWSupport/Serial"]
	path = RiscOS/Sources/HWSupport/Serial
	url = ../../RiscOS/Sources/HWSupport/Serial.git
[submodule "RiscOS/Sources/HWSupport/SerialSpt"]
	path = RiscOS/Sources/HWSupport/SerialSpt
	url = ../../RiscOS/Sources/HWSupport/SerialSpt.git
[submodule "RiscOS/Sources/HWSupport/Sound/Sound0"]
	path = RiscOS/Sources/HWSupport/Sound/Sound0
	url = ../../RiscOS/Sources/HWSupport/Sound/Sound0.git
[submodule "RiscOS/Sources/HWSupport/Sound/Sound1"]
	path = RiscOS/Sources/HWSupport/Sound/Sound1
	url = ../../RiscOS/Sources/HWSupport/Sound/Sound1.git
[submodule "RiscOS/Sources/HWSupport/Sound/Sound2"]
	path = RiscOS/Sources/HWSupport/Sound/Sound2
	url = ../../RiscOS/Sources/HWSupport/Sound/Sound2.git
[submodule "RiscOS/Sources/HWSupport/Sound/Voices/Percussion"]
	path = RiscOS/Sources/HWSupport/Sound/Voices/Percussion
	url = ../../RiscOS/Sources/HWSupport/Sound/Voices/Percussion.git
[submodule "RiscOS/Sources/HWSupport/Sound/Voices/StringLib"]
	path = RiscOS/Sources/HWSupport/Sound/Voices/StringLib
	url = ../../RiscOS/Sources/HWSupport/Sound/Voices/StringLib.git
[submodule "RiscOS/Sources/HWSupport/Sound/Voices/WaveSynth"]
	path = RiscOS/Sources/HWSupport/Sound/Voices/WaveSynth
	url = ../../RiscOS/Sources/HWSupport/Sound/Voices/WaveSynth.git
[submodule "RiscOS/Sources/HWSupport/SystemDevs"]
	path = RiscOS/Sources/HWSupport/SystemDevs
	url = ../../RiscOS/Sources/HWSupport/SystemDevs.git
[submodule "RiscOS/Sources/Internat/IntKey"]
	path = RiscOS/Sources/Internat/IntKey
	url = ../../RiscOS/Sources/Internat/IntKey.git
[submodule "RiscOS/Sources/Internat/Inter"]
	path = RiscOS/Sources/Internat/Inter
	url = ../../RiscOS/Sources/Internat/Inter.git
[submodule "RiscOS/Sources/Internat/Messages"]
	path = RiscOS/Sources/Internat/Messages
	url = ../../RiscOS/Sources/Internat/Messages.git
[submodule "RiscOS/Sources/Internat/MsgTrans"]
	path = RiscOS/Sources/Internat/MsgTrans
	url = ../../RiscOS/Sources/Internat/MsgTrans.git
[submodule "RiscOS/Sources/Internat/Territory/TerritoryManager"]
	path = RiscOS/Sources/Internat/Territory/TerritoryManager
	url = ../../RiscOS/Sources/Internat/Territory/TerritoryManager.git
[submodule "RiscOS/Sources/Internat/Territory/TerritoryModule"]
	path = RiscOS/Sources/Internat/Territory/TerritoryModule
	url = ../../RiscOS/Sources/Internat/Territory/TerritoryModule.git
[submodule "RiscOS/Sources/Kernel"]
	path = RiscOS/Sources/Kernel
	url = ../../RiscOS/Sources/Kernel.git
	branch = HAL
[submodule "RiscOS/Sources/Lib/AsmUtils"]
	path = RiscOS/Sources/Lib/AsmUtils
	url = ../../RiscOS/Sources/Lib/AsmUtils.git
[submodule "RiscOS/Sources/Lib/DebugLib"]
	path = RiscOS/Sources/Lib/DebugLib
	url = ../../RiscOS/Sources/Lib/DebugLib.git
[submodule "RiscOS/Sources/Lib/ModMalloc"]
	path = RiscOS/Sources/Lib/ModMalloc
	url = ../../RiscOS/Sources/Lib/ModMalloc.git
[submodule "RiscOS/Sources/Lib/PDebug"]
	path = RiscOS/Sources/Lib/PDebug
	url = ../../RiscOS/Sources/Lib/PDebug.git
[submodule "RiscOS/Sources/Lib/PlainArgv"]
	path = RiscOS/Sources/Lib/PlainArgv
	url = ../../RiscOS/Sources/Lib/PlainArgv.git
[submodule "RiscOS/Sources/Lib/RISC_OSLib"]
	path = RiscOS/Sources/Lib/RISC_OSLib
	url = ../../RiscOS/Sources/Lib/RISC_OSLib.git
[submodule "RiscOS/Sources/Lib/UnicodeLib"]
	path = RiscOS/Sources/Lib/UnicodeLib
	url = ../../RiscOS/Sources/Lib/UnicodeLib.git
[submodule "RiscOS/Sources/Lib/callx"]
	path = RiscOS/Sources/Lib/callx
	url = ../../RiscOS/Sources/Lib/callx.git
[submodule "RiscOS/Sources/Lib/remotedb"]
	path = RiscOS/Sources/Lib/remotedb
	url = ../../RiscOS/Sources/Lib/remotedb.git
[submodule "RiscOS/Sources/Networking/AUN/AUNMsgs"]
	path = RiscOS/Sources/Networking/AUN/AUNMsgs
	url = ../../RiscOS/Sources/Networking/AUN/AUNMsgs.git
[submodule "RiscOS/Sources/Networking/AUN/Access/Freeway"]
	path = RiscOS/Sources/Networking/AUN/Access/Freeway
	url = ../../RiscOS/Sources/Networking/AUN/Access/Freeway.git
[submodule "RiscOS/Sources/Networking/AUN/Access/ShareFSBlob"]
	path = RiscOS/Sources/Networking/AUN/Access/ShareFSBlob
	url = ../../RiscOS/Sources/Networking/AUN/Access/ShareFSBlob.git
[submodule "RiscOS/Sources/Networking/AUN/BootNet"]
	path = RiscOS/Sources/Networking/AUN/BootNet
	url = ../../RiscOS/Sources/Networking/AUN/BootNet.git
[submodule "RiscOS/Sources/Networking/AUN/MManagerBlob"]
	path = RiscOS/Sources/Networking/AUN/MManagerBlob
	url = ../../RiscOS/Sources/Networking/AUN/MManagerBlob.git
[submodule "RiscOS/Sources/Networking/AUN/Net"]
	path = RiscOS/Sources/Networking/AUN/Net
	url = ../../RiscOS/Sources/Networking/AUN/Net.git
[submodule "RiscOS/Sources/Networking/BBCEconet"]
	path = RiscOS/Sources/Networking/BBCEconet
	url = ../../RiscOS/Sources/Networking/BBCEconet.git
[submodule "RiscOS/Sources/Networking/DHCP"]
	path = RiscOS/Sources/Networking/DHCP
	url = ../../RiscOS/Sources/Networking/DHCP.git
[submodule "RiscOS/Sources/Networking/Econet"]
	path = RiscOS/Sources/Networking/Econet
	url = ../../RiscOS/Sources/Networking/Econet.git
[submodule "RiscOS/Sources/Networking/NetStatus"]
	path = RiscOS/Sources/Networking/NetStatus
	url = ../../RiscOS/Sources/Networking/NetStatus.git
[submodule "RiscOS/Sources/Networking/Omni/Protocols/OmniLanManFS"]
	path = RiscOS/Sources/Networking/Omni/Protocols/OmniLanManFS
	url = ../../RiscOS/Sources/Networking/Omni/Protocols/OmniLanManFS.git
[submodule "RiscOS/Sources/Networking/ResolverBlob"]
	path = RiscOS/Sources/Networking/ResolverBlob
	url = ../../RiscOS/Sources/Networking/ResolverBlob.git
[submodule "RiscOS/Sources/Printing/Modules/MakePSFont"]
	path = RiscOS/Sources/Printing/Modules/MakePSFont
	url = ../../RiscOS/Sources/Printing/Modules/MakePSFont.git
[submodule "RiscOS/Sources/Printing/Modules/PDriver"]
	path = RiscOS/Sources/Printing/Modules/PDriver
	url = ../../RiscOS/Sources/Printing/Modules/PDriver.git
[submodule "RiscOS/Sources/Printing/PDumpers"]
	path = RiscOS/Sources/Printing/PDumpers
	url = ../../RiscOS/Sources/Printing/PDumpers.git
[submodule "RiscOS/Sources/Programmer/BASIC"]
	path = RiscOS/Sources/Programmer/BASIC
	url = ../../RiscOS/Sources/Programmer/BASIC.git
[submodule "RiscOS/Sources/Programmer/BootCmds"]
	path = RiscOS/Sources/Programmer/BootCmds
	url = ../../RiscOS/Sources/Programmer/BootCmds.git
[submodule "RiscOS/Sources/Programmer/DDEUtils"]
	path = RiscOS/Sources/Programmer/DDEUtils
	url = ../../RiscOS/Sources/Programmer/DDEUtils.git
[submodule "RiscOS/Sources/Programmer/DDTHdr"]
	path = RiscOS/Sources/Programmer/DDTHdr
	url = ../../RiscOS/Sources/Programmer/DDTHdr.git
[submodule "RiscOS/Sources/Programmer/Debugger"]
	path = RiscOS/Sources/Programmer/Debugger
	url = ../../RiscOS/Sources/Programmer/Debugger.git
[submodule "RiscOS/Sources/Programmer/HdrSrc"]
	path = RiscOS/Sources/Programmer/HdrSrc
	url = ../../RiscOS/Sources/Programmer/HdrSrc.git
[submodule "RiscOS/Sources/Programmer/HostFS"]
	path = RiscOS/Sources/Programmer/HostFS
	url = ../../RiscOS/Sources/Programmer/HostFS.git
[submodule "RiscOS/Sources/Programmer/Obey"]
	path = RiscOS/Sources/Programmer/Obey
	url = ../../RiscOS/Sources/Programmer/Obey.git
[submodule "RiscOS/Sources/SystemRes/HeroNames"]
	path = RiscOS/Sources/SystemRes/HeroNames
	url = ../../RiscOS/Sources/SystemRes/HeroNames.git
[submodule "RiscOS/Sources/Toolbox/ColourDbox"]
	path = RiscOS/Sources/Toolbox/ColourDbox
	url = ../../RiscOS/Sources/Toolbox/ColourDbox.git
[submodule "RiscOS/Sources/Toolbox/ColourMenu"]
	path = RiscOS/Sources/Toolbox/ColourMenu
	url = ../../RiscOS/Sources/Toolbox/ColourMenu.git
[submodule "RiscOS/Sources/Toolbox/tboxlib"]
	path = RiscOS/Sources/Toolbox/tboxlib
	url = ../../RiscOS/Sources/Toolbox/tboxlib.git
[submodule "RiscOS/Sources/Toolbox/DCS"]
	path = RiscOS/Sources/Toolbox/DCS
	url = ../../RiscOS/Sources/Toolbox/DCS.git
[submodule "RiscOS/Sources/Toolbox/FileInfo"]
	path = RiscOS/Sources/Toolbox/FileInfo
	url = ../../RiscOS/Sources/Toolbox/FileInfo.git
[submodule "RiscOS/Sources/Toolbox/FontDbox"]
	path = RiscOS/Sources/Toolbox/FontDbox
	url = ../../RiscOS/Sources/Toolbox/FontDbox.git
[submodule "RiscOS/Sources/Toolbox/FontMenu"]
	path = RiscOS/Sources/Toolbox/FontMenu
	url = ../../RiscOS/Sources/Toolbox/FontMenu.git
[submodule "RiscOS/Sources/Toolbox/Gadgets"]
	path = RiscOS/Sources/Toolbox/Gadgets
	url = ../../RiscOS/Sources/Toolbox/Gadgets.git
[submodule "RiscOS/Sources/Toolbox/IconBar"]
	path = RiscOS/Sources/Toolbox/IconBar
	url = ../../RiscOS/Sources/Toolbox/IconBar.git
[submodule "RiscOS/Sources/Toolbox/ToolboxLib"]
	path = RiscOS/Sources/Toolbox/ToolboxLib
	url = ../../RiscOS/Sources/Toolbox/ToolboxLib.git
[submodule "RiscOS/Sources/Toolbox/Menu"]
	path = RiscOS/Sources/Toolbox/Menu
	url = ../../RiscOS/Sources/Toolbox/Menu.git
[submodule "RiscOS/Sources/Toolbox/PrintDbox"]
	path = RiscOS/Sources/Toolbox/PrintDbox
	url = ../../RiscOS/Sources/Toolbox/PrintDbox.git
[submodule "RiscOS/Sources/Toolbox/ProgInfo"]
	path = RiscOS/Sources/Toolbox/ProgInfo
	url = ../../RiscOS/Sources/Toolbox/ProgInfo.git
[submodule "RiscOS/Sources/Toolbox/SaveAs"]
	path = RiscOS/Sources/Toolbox/SaveAs
	url = ../../RiscOS/Sources/Toolbox/SaveAs.git
[submodule "RiscOS/Sources/Toolbox/Scale"]
	path = RiscOS/Sources/Toolbox/Scale
	url = ../../RiscOS/Sources/Toolbox/Scale.git
[submodule "RiscOS/Sources/Toolbox/ToolAction"]
	path = RiscOS/Sources/Toolbox/ToolAction
	url = ../../RiscOS/Sources/Toolbox/ToolAction.git
[submodule "RiscOS/Sources/Toolbox/Toolbox"]
	path = RiscOS/Sources/Toolbox/Toolbox
	url = ../../RiscOS/Sources/Toolbox/Toolbox.git
[submodule "RiscOS/Sources/Toolbox/Window"]
	path = RiscOS/Sources/Toolbox/Window
	url = ../../RiscOS/Sources/Toolbox/Window.git
[submodule "RiscOS/Sources/Video/Render/Colours"]
	path = RiscOS/Sources/Video/Render/Colours
	url = ../../RiscOS/Sources/Video/Render/Colours.git
[submodule "RiscOS/Sources/Video/Render/DrawMod"]
	path = RiscOS/Sources/Video/Render/DrawMod
	url = ../../RiscOS/Sources/Video/Render/DrawMod.git
[submodule "RiscOS/Sources/Video/Render/DrawFile"]
	path = RiscOS/Sources/Video/Render/DrawFile
	url = ../../RiscOS/Sources/Video/Render/DrawFile.git
[submodule "RiscOS/Sources/Video/Render/Fonts/ITable"]
	path = RiscOS/Sources/Video/Render/Fonts/ITable
	url = ../../RiscOS/Sources/Video/Render/Fonts/ITable.git
[submodule "RiscOS/Sources/Video/Render/Fonts/FontManager"]
	path = RiscOS/Sources/Video/Render/Fonts/FontManager
	url = ../../RiscOS/Sources/Video/Render/Fonts/FontManager.git
[submodule "RiscOS/Sources/Video/Render/Fonts/ROMFonts"]
	path = RiscOS/Sources/Video/Render/Fonts/ROMFonts
	url = ../../RiscOS/Sources/Video/Render/Fonts/ROMFonts.git
[submodule "RiscOS/Sources/Video/Render/Hourglass"]
	path = RiscOS/Sources/Video/Render/Hourglass
	url = ../../RiscOS/Sources/Video/Render/Hourglass.git
[submodule "RiscOS/Sources/Video/Render/ScrBlank"]
	path = RiscOS/Sources/Video/Render/ScrBlank
	url = ../../RiscOS/Sources/Video/Render/ScrBlank.git
[submodule "RiscOS/Sources/Video/Render/SpriteUtil"]
	path = RiscOS/Sources/Video/Render/SpriteUtil
	url = ../../RiscOS/Sources/Video/Render/SpriteUtil.git
[submodule "RiscOS/Sources/Video/Render/Super"]
	path = RiscOS/Sources/Video/Render/Super
	url = ../../RiscOS/Sources/Video/Render/Super.git
[submodule "RiscOS/Sources/Video/UserI/Display"]
	path = RiscOS/Sources/Video/UserI/Display
	url = ../../RiscOS/Sources/Video/UserI/Display.git
[submodule "RiscOS/Sources/Video/UserI/Picker"]
	path = RiscOS/Sources/Video/UserI/Picker
	url = ../../RiscOS/Sources/Video/UserI/Picker.git
[submodule "RiscOS/Sources/Video/UserI/ScrModes"]
	path = RiscOS/Sources/Video/UserI/ScrModes
	url = ../../RiscOS/Sources/Video/UserI/ScrModes.git
[submodule "RiscOS/Sources/Video/UserI/ScrSaver"]
	path = RiscOS/Sources/Video/UserI/ScrSaver
	url = ../../RiscOS/Sources/Video/UserI/ScrSaver.git
	branch = Ursula
[submodule "RiscOS/Apps/PlingPerl"]
	path = RiscOS/Apps/!Perl
	url = ../../RiscOS/Apps/PlingPerl.git
[submodule "RiscOS/Sources/Lib/DDTLib"]
	path = RiscOS/Sources/Lib/DDTLib
	url = ../../RiscOS/Sources/Lib/DDTLib.git
[submodule "RiscOS/Sources/Lib/Trace"]
	path = RiscOS/Sources/Lib/Trace
	url = ../../RiscOS/Sources/Lib/Trace.git
[submodule "RiscOS/Sources/Lib/Wild"]
	path = RiscOS/Sources/Lib/Wild
	url = ../../RiscOS/Sources/Lib/Wild.git
[submodule "RiscOS/Library"]
	path = RiscOS/Library
	url = ../../RiscOS/Library.git
[submodule "RiscOS/Modules"]
	path = RiscOS/Modules
	url = ../../RiscOS/Modules.git
[submodule "RiscOS/Sources/Lib/TCPIPLibs"]
	path = RiscOS/Sources/Lib/TCPIPLibs
	url = ../../RiscOS/Sources/Lib/TCPIPLibs.git
[submodule "RiscOS/Sources/Networking/AUN/Internet"]
	path = RiscOS/Sources/Networking/AUN/Internet
	url = ../../RiscOS/Sources/Networking/AUN/Internet.git
[submodule "RiscOS/Sources/SystemRes/InetRes"]
	path = RiscOS/Sources/SystemRes/InetRes
	url = ../../RiscOS/Sources/SystemRes/InetRes.git
[submodule "RiscOS/Sources/Lib/Desk"]
	path = RiscOS/Sources/Lib/Desk
	url = ../../RiscOS/Sources/Lib/Desk.git
[submodule "RiscOS/Sources/Lib/OSLib"]
	path = RiscOS/Sources/Lib/OSLib
	url = ../../RiscOS/Sources/Lib/OSLib.git
[submodule "RiscOS/Sources/Video/Render/SprExtend"]
	path = RiscOS/Sources/Video/Render/SprExtend
	url = ../../RiscOS/Sources/Video/Render/SprExtend.git
[submodule "RiscOS/Utilities/Autobuild/ABRelease"]
	path = RiscOS/Utilities/Autobuild/ABRelease
	url = ../../RiscOS/Utilities/Autobuild/ABRelease.git
[submodule "RiscOS/Sources/HWSupport/FPASC"]
	path = RiscOS/Sources/HWSupport/FPASC
	url = ../../RiscOS/Sources/HWSupport/FPASC.git
[submodule "RiscOS/Apps/PlingPrepare"]
	path = RiscOS/Apps/!Prepare
	url = ../../RiscOS/Apps/PlingPrepare.git
[submodule "RiscOS/Sources/Audio/SharedSnd"]
	path = RiscOS/Sources/Audio/SharedSnd
	url = ../../RiscOS/Sources/Audio/SharedSnd.git
[submodule "RiscOS/Sources/HWSupport/UnSqzAIF"]
	path = RiscOS/Sources/HWSupport/UnSqzAIF
	url = ../../RiscOS/Sources/HWSupport/UnSqzAIF.git
[submodule "RiscOS/Sources/Video/HWSupport/VIDC20Video"]
	path = RiscOS/Sources/Video/HWSupport/VIDC20Video
	url = ../../RiscOS/Sources/Video/HWSupport/VIDC20Video.git
[submodule "RiscOS/Sources/Lib/ConfigLib"]
	path = RiscOS/Sources/Lib/ConfigLib
	url = ../../RiscOS/Sources/Lib/ConfigLib.git
[submodule "RiscOS/Sources/Programmer/Squash"]
	path = RiscOS/Sources/Programmer/Squash
	url = ../../RiscOS/Sources/Programmer/Squash.git
[submodule "RiscOS/Sources/Video/Render/BlendTable"]
	path = RiscOS/Sources/Video/Render/BlendTable
	url = ../../RiscOS/Sources/Video/Render/BlendTable.git
[submodule "RiscOS/Sources/HWSupport/RTC"]
	path = RiscOS/Sources/HWSupport/RTC
	url = ../../RiscOS/Sources/HWSupport/RTC.git
[submodule "RiscOS/Sources/HWSupport/VFPSupport"]
	path = RiscOS/Sources/HWSupport/VFPSupport
	url = ../../RiscOS/Sources/HWSupport/VFPSupport.git
[submodule "RiscOS/Sources/Networking/MimeMap"]
	path = RiscOS/Sources/Networking/MimeMap
	url = ../../RiscOS/Sources/Networking/MimeMap.git
