*,ffd
*,ffa
*,ff8
*_gpa
Depends
*~
build/
CVS
.cvstag
Entries
/Export
/BuildSys
/castle/RiscOS/Sources/Lib/RISC_OSLib/o
/castle/RiscOS/Sources/Lib/RISC_OSLib/o_rl
/castle/RiscOS/Sources/Lib/RISC_OSLib/rm_o
/castle/RiscOS/Sources/Lib/RISC_OSLib/rm_o_rl
/castle/RiscOS/Sources/Lib/RISC_OSLib/m_o
/castle/RiscOS/Sources/Lib/RISC_OSLib/m_o_rl
o
od
oz
