# Control file for Edit

ctl IconControl # define control machine for icon on icon bar

menu Create create
entry "New Text file"    newtextfile
entry "New Data file"    newdatafile
entry "New Command file" newcommandfile
entry "New Obey file"    newobeyfile
entry "New Task window"  newtaskwindow
endmenu

dbox proginfo progInfo
onopen proginfo_setversion
enddbox

menu Edit edit
entry Info dbox proginfo
entry Create submenu create
entry Quit edit_quit
endmenu

ctl Control # control for main window

menu Misc misc
entry Info dbox proginfo
entry File dbox fileinfo
entry "New view"           txtedit_newview
entry "Column tab (sh-f3)" txtedit_coltab
entry "Overwrite  (sh-f1)" txtedit_overwrite
entry "Wordwrap  (ctl_f5)" txtedit_wordwrap
entry "Trace"              trace
entry "No trace"           notrace
endmenu

dbox indent selindent
onentry indent_init
icon 0 indent_do
enddbox

menu Select select
entry Save sel_save
entry "Copy   (ctl-C)" sel_copy
entry "Move   (ctl-V)" sel_move
entry "Delete (ctl-X)" sel_delete
entry "Clear  (ctl-Z)" sel_clear
entry "Indent" dbox indent

menu "Format width" formatwidth
entry "" format # will be filled in by program
endmenu

menu Edit edit
entry "Find  (f4)" dbox edit_find
entry "Goto  (f5)" dbox edit_goto
entry "Undo  (f8)" edit_undo
entry "Redo  (f9)" edit_redo
entry "CR<->LF"    edit_crlf
entry "Expand tabs" edit_tabs
entry "Format text" submenu formatwidth

menu Display display
entry Font fontmenu
entry "Font size" submenu fontsize
entry "Font height" submenu fontheight
entry "Line spacing" submenu linespacing
entry "Margin" submenu margin
entry "Invert" invert
entry "Wrap" wrap
entry "Foreground" fcolour
entry "Background" bcolour
endmenu

menu Edit main
entry Misc submenu misc
entry Save save
entry Select submenu select
entry Edit submenu edit
entry Display submenu display
endmenu
