# =======> FSLock tests

output "t01/new"
do "t01"
compare "t01/old"

output "t02/new"
do "t02"
compare "t02/old"

output "t03/new"
do "t03"
compare "t03/old"

output "t04/new"
do "t04"
compare "t04/old"

output "t05/new"
do "t05"
compare "t05/old"

# Warning - this required a SCSI: to work.
output "t06/new"
do "t06"
compare "t06/old"
