#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=RISC OS (Linux Port)
Comment=The port of RISC OS to Linux.
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 Support/run_RISC_OS >/dev/null" %k
Actions=normal;noboot;gos;basic;

[Desktop Action normal]
Name=Start Normally
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 Support/run_RISC_OS >/dev/null" %k

[Desktop Action noboot]
Name=Start without !Boot
Exec=bash -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 RISC_OS_Alias_IXFSBoot2=\\$'X AddTinyDir IXFS:\\$\\\\nX AddTinyDir IXFS:\\$.HardDisc4\\\\nUnset Alias\\$IXFSBoot2' RISC_OS_Alias_IXFSBoot='Desktop IXFSBoot2' exec Support/run_RISC_OS >/dev/null" %k

[Desktop Action gos]
Name=Command line
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 RISC_OS_Alias_IXFSBoot=GOS exec Support/run_RISC_OS >/dev/null" %k

[Desktop Action basic]
Name=BASIC
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 RISC_OS_Alias_IXFSBoot=BASIC exec Support/run_RISC_OS >/dev/null" %k
