#!/usr/bin/env xdg-open
# Copyright 2018 Timothy Baldwin
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[Desktop Entry]
Type=Application
Name=RISC OS (Linux Port)
Comment=The port of RISC OS to Linux.
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 exec Support/run_RISC_OS >/dev/null" %k
Actions=normal;noboot;gos;basic;

[Desktop Action normal]
Name=Start Normally
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 exec Support/run_RISC_OS >/dev/null" %k

[Desktop Action noboot]
Name=Start without !Boot
Exec=bash -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 RISC_OS_Alias_IXFSBoot2=\\$'X AddTinyDir IXFS:\\$\\\\nX AddTinyDir <IXFS\\$HardDisc4>' RISC_OS_Alias_IXFSBoot='Desktop IXFSBoot2' exec Support/run_RISC_OS >/dev/null" %k

[Desktop Action gos]
Name=Command line
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 RISC_OS_Alias_IXFSBoot=GOS exec Support/run_RISC_OS >/dev/null" %k

[Desktop Action basic]
Name=BASIC
Exec=sh -e -c "cd \\"\\$(dirname \\"\\$0\\")\\"; RISC_OS__OpenTerm=1 RISC_OS_Alias_IXFSBoot=BASIC exec Support/run_RISC_OS >/dev/null" %k
